{% extends 'base.html' %}

{% block title %}Delete Post | Blogify{% endblock %}

{% block content %}

<div class="delete-page">

    <div class="delete-card">

        <div class="delete-icon">
            <i class="bi bi-trash"></i>
        </div>

        <h1>Delete Article?</h1>

        <p>
            Are you sure you want to delete
            <strong>"{{ post.title }}"</strong>?
        </p>

        <span>
            This action cannot be undone.
        </span>


        <div class="delete-actions">

            <a
                href="{% url 'my_posts' %}"
                class="cancel-btn"
            >
                Cancel
            </a>

            <form
                method="POST"
                style="display: inline;"
            >

                {% csrf_token %}

                <button
                    type="submit"
                    class="delete-confirm-btn"
                >
                    <i class="bi bi-trash"></i>
                    Delete Post
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}